
/* RESET */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #111;
   color: #f5f3ee;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.7;
}

/* HEADER */
header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: rgba(17, 17, 17, 0.95);

   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 18px 40px;

   border-bottom: 1px solid #2a2a2a;

   z-index: 1000;
}

header h1 {
   font-size: 18px;
   font-weight: 400;
}

nav {
   display: flex;
   gap: 22px;
}

nav a {
   color: #f5f3ee;
   text-decoration: none;
   font-size: 14px;
}

/* HOME FULLSCREEN */
.home {
   width: 100vw;
   height: 100vh;
   position: relative;
   overflow: hidden;
}

.hero-video {
   position: absolute;
   inset: 0;
   z-index: 1;
}

.hero-video video {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.home::before {
   content: "";
   position: absolute;
   inset: 0;
   z-index: 2;
   background: rgba(0,0,0,0.4);
}

.hero-text {
   position: absolute;
   z-index: 3;
   top: 50%;
   transform: translateY(-50%);
   left: 60px;
   max-width: 600px;
}

/* SOBRE FULLSCREEN */
.sobre-bg {
   position: relative;
   width: 100vw;
   min-height: 100vh;

   padding: 140px 60px;

   background-image: url("../img/imagem2.jpg");
   background-size: cover;
   background-position: center;
}

.sobre-bg::before {
   content: "";
   position: absolute;
   inset: 0;
   background: rgba(0,0,0,0.65);
   z-index: 1;
}

.sobre-bg h2,
.sobre-bg p {
   position: relative;
   z-index: 2;
   max-width: 900px;
}

/* TEXTOS */
.intro {
   font-size: 22px;
}
